body{
	padding : 0 0;
	margin : 0 0; 
	font-family : 'Lato', sans-serif;
	background : #fafafa;
}

.header{
	padding : 1% 0 0 0;
	background : #fff;
}

.header h1{
	text-align : center;
} 

.content{
	left : 11.5%;
	position : relative;
	width : 75%;
	background : #fff;
	padding : 1%;
	border-style : solid;
	border-width : 1px;
	border-color : #95a5a6;
	border-radius : 2px;
}

.content p{
	font-size : 20px; 
}